.ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    background-color: #ff7a10;
    margin:0;
    justify-content: center;
    padding: 7px;
}

.ul li {
    text-decoration: none;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: none;
}

.ul li a {
    text-decoration: none;
    color: #000;
}

ul li a:hover {
    text-decoration: underline;
}